#ircontainer {
margin: 10px auto 0px auto;
overflow: hidden;
clear: both;
} 
.withcurve {
  width:350px;
  height: 350px;
}
.withoutcurve {
  width:280px;
  height: 280px;
}
.irgrid {
  margin: 0px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  width: 100%;
}
 
.irgrid:after,
.item:before {
  content: '';
  display: table;
}
 
.irgrid:after {
  clear: both;
}
 
.irgrid li {
  width: 280px;
  height: 280px;
  display: inline-block;
  margin: 0px;
}
.irgrid.irtextleft {
  text-align: left;
}
.irgrid.irtextright {
  text-align: right;
}
.irfront, .irback {
    background-size: 280px auto !important;
}
.irfront {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default; 
    -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out; 
          transition: all 0.4s ease-in-out;
  overflow:hidden;
}

.irback {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  
   -webkit-transition: all 0.3s ease-in-out;  
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  
  -webkit-transform-origin: 95% 0%;
      -moz-transform-origin: 95% 0%;
      -ms-transform-origin: 95% 0%;
        -o-transform-origin: 95% 0%;
           transform-origin: 95% 0%;
  
  -webkit-backface-visibility: hidden;
}

.info-3 {
  overflow: hidden; 
}

.irfront:hover {
    box-shadow: 
        inset 0 0 0 1px rgba(255,255,255,0.1), 
        0 1px 2px rgba(0,0,0,0.1);
}
 
.irback.visible {
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  
  opacity: 1;
}     

#ircurvedtext {
  transform:rotate(-40deg);
-ms-transform:rotate(-40deg); /* IE 9 */
-webkit-transform:rotate(-40deg); /* Opera, Chrome, and Safari */
    position: relative;
    font: 16px/0.2 "open sans",san-serif;
    letter-spacing: 0px;
    width: 0px;
    margin: -44px 0px 0px 244px;
    color: #2d4f68;
}
#ircurvedtextleft {
position: relative;
width: 30px;
margin: -23px 0px 0px 86px;
font: 16px/0.2 "open sans",san-serif;
letter-spacing: 1px;
word-spacing: 5px;
height: 10px !important;
color: #597489;
transform: rotate(40deg);
-ms-transform: rotate(40deg);
-webkit-transform: rotate(40deg);
}

.irfront:hover {
  cursor: pointer;
}
.ui-loader { display: none !important;}
@media only screen and ( max-width: 1080px ) /* 1000 */
    {
      #ircontainer {
        margin: 0px auto;
        overflow: hidden;
      } 
      .irgrid.irtextleft, .irgrid.irtextright {
  text-align: center !important;
      }
      #ircurvedtextleft span {
       margin-left: -4.6rem !important;
    transform-origin: center -10.2rem 0px !important;
    bottom: 0px !important;
    margin-bottom: -1.6rem;
    letter-spacing: 2px;
    vertical-align: top;
    width: 20px;
      }
      #ircurvedtext span {
    margin-left: -4.6rem !important;
    transform-origin: center -10.2rem 0px !important;
    bottom: 0px !important;
    margin-bottom: -1.6rem;
    letter-spacing: 2px;
    vertical-align: top;
    width: 20px;
}
      .irtext {
        display: none;
      }
      .withoutcurve {
        width: 204px;
        height: auto;
      }
      .withcurve {
        width: 260px;
        height: 260px;
      }
      #ircurvedtext {
        position: relative;
width: 90%;
margin: 0px auto;
font: 16px/1.5 "open sans",san-serif;
letter-spacing: 1px;
color: #597489;
transform: rotate(20deg);
-ms-transform: rotate(20deg);
-webkit-transform: rotate(20deg);
text-align: center;
height: 10px !important;
      }
      #ircurvedtextleft {
position: relative;
width: 90%;
margin: 0px auto;
font: 16px/1.5 "open sans",san-serif;
letter-spacing: 1px;
color: #597489;
transform: rotate(20deg);
-ms-transform: rotate(20deg);
-webkit-transform: rotate(20deg);
text-align: center;
}
      .irgrid li {
        width: 200px;
        height: 200px;
        display: inline-block;
        margin: 0px;
      }
      .irfront, .irback {
        background-size: 210px auto !important;
      }

    }
    @media only screen and ( max-width: 768px ) /* 1000 */
    {
      #ircurvedtext {
        position: relative;
width: 95%;
margin: 0px auto;
font: 16px/1.5 "open sans",san-serif;
letter-spacing: 0px;
color: #597489;
transform: rotate(20deg);
-ms-transform: rotate(20deg);
-webkit-transform: rotate(20deg);
text-align: center;
      }
      #ircurvedtextleft {
position: relative;
width: 95%;
margin: 0px auto;
font: 16px/1.5 "open sans",san-serif;
letter-spacing: 0px;
color: #597489;
transform: rotate(20deg);
-ms-transform: rotate(20deg);
-webkit-transform: rotate(20deg);
text-align: center;
}
#ircurvedtextleft span {
margin-left: -6.0rem !important;
transform-origin: center -13.0rem 0px !important;
bottom: 0px !important;
margin-bottom: -2.8rem;
letter-spacing: 1px;
vertical-align: top;
width: 20px;
      }
#ircurvedtext span {
margin-left: -6.0rem !important;
transform-origin: center -13.0rem 0px !important;
bottom: 0px !important;
margin-bottom: -2.8rem;
letter-spacing: 0px;
vertical-align: top;
width: 20px;
}
.norotate {
transform: rotate(0deg) !important;
-ms-transform: rotate(0deg) !important;
-webkit-transform: rotate(0deg) !important;

      }
}
    @media only screen and ( max-width: 480px ) /* 1000 */
    {
      #ircurvedtext {
        position: relative;
width: 98% !important;
margin: 0px auto;
font: 16px/1.3 "open sans",san-serif !important;
letter-spacing: 0px !important;
color: #597489;
transform: rotate(0deg);
-ms-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
text-align: center;
      }
      #ircurvedtext.norotate,#ircurvedtextleft.norotate {
transform: rotate(0deg) !important;
-ms-transform: rotate(0deg) !important;
-webkit-transform: rotate(0deg) !important;

      }
      #ircurvedtextleft {
position: relative;
width: 98% !important;
margin: 0px auto;
font: 16px/1.3 "open sans",san-serif !important;
letter-spacing: 0px !important;
color: #597489;
transform: rotate(0deg);
-ms-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
text-align: center;
}
#ircurvedtextleft span {
       margin-left: -8.0rem !important;
    transform-origin: center -16.6rem 0px !important;
    bottom: 0px !important;
    margin-bottom: -3.5rem;
    letter-spacing: 0px;
    vertical-align: top;
    width: 20px;
      }
      #ircurvedtext span {
    margin-left: -8.0rem !important;
    transform-origin: center -16.6rem 0px !important;
    bottom: 0px !important;
    margin-bottom: -3.5rem;
    letter-spacing: 0px;
    vertical-align: top;
    width: 20px;
}
}